<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<%if params[:action]=='edit' && User.find(session["user_id"]).profile.id == 1 then %>
	<h4><%= _("Merge Articles") %></h4>
	<%= form_tag({:controller => :content, :action => :merge, :id => @article.id}, {:method=>:put, :name => "merge_with", :class => ('autosave')})  %>
    	<%= _("Article ID:") %>
    	<input id="merge" name="merge_with" type="text" autocomplete="off" style="width: 10%"/>
    	<%= submit_tag 'Merge Article', :class => "btn info"%>
<%end%>
